/*HEADER START*/
.header{
    padding-top: 50px;
    padding-bottom: 250px;
    background: url("../img/header-bg.png") center/cover no-repeat;
    height: 683px;
}
.header-title{
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 95px;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    margin-bottom: 23px;
    max-width: 63%;
}
.header-info{
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    margin-bottom: 37px;
    max-width: 47%;
}

.header-btn{
    font-size: 20px;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #fff;
    padding: 19px 23px;
    border-radius: 12px;
}
/*HEADER END*/
