/*NAVBAR START*/
.navbar {
    background-color: #000;
    padding: 50px 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.top-menu {
    display: inline-flex;
    list-style: none;
}

.top-menu-box {
    margin-right: 48px;
}

.top-menu-link {
    font-family: "Gotham Pro", sans-serif;
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}

.language-switcher {
    position: absolute;
    top: -20px;
    right: 0;
    display: flex;
    align-items: center;
}

.language-switcher-item {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #C4C4C4;
    margin-right: 15px;
}
.language-switcher-item:last-child{
    margin-right: 0;
}
.language-switcher-item.active{
    border: 0.7px solid #C4C4C4;
    border-radius: 5px;
    padding: 3px 4px;
}

.navbar-contacts {

}

.navbar-contacts-phone {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: 22px;
}

.navbar-contacts-icon {
    margin-right: 15px;
}

/*NAVBAR END*/
