.cost{
    background-size: 50% 100%;
}
.cost-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cost-column{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 150px 0;
}
.cost-column._left{
    position: relative;
    background: rgba(0,0,0,0.8);
}
.cost-column-img{
    position: absolute;
    background: url(../img/cost-bg.png) no-repeat center/cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.cost-column._right{
    background: #000;
}
.cost-column:first-child{

}
.cost-column:last-child{

}
.cost-title{
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    text-align: center;
    position: relative;
    max-width: 72%;
    margin: 0 auto 55px;
}
.cost-form{
    text-align: left;
    margin-left: 154px;
}
.cost-title::after{
    content: "";
    height: 3px;
    background-color: #fff;
    position: absolute;
    width: 93px;
    left: 50%;
    bottom: -14px;
    transform: translateX(-50%);
}
.cost-img{
    margin-bottom: 63px;
}
.cost-input-text{
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 9px;
}
input[type="text"] {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    width: 221px;
    height: 39px;
    margin-bottom: 25px;
    outline: none;
    color: #fff;
    padding: 0px 5px;
}
input[type="email"] {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    width: 284px;
    height: 39px;
    margin-bottom: 35px;
    outline: none;
    color: #fff;
    padding: 0px 5px;
}
input[type="tel"] {
    background: transparent;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    width: 284px;
    height: 39px;
    margin-right: 66px;
    outline: none;
    color: #fff;
    padding: 0px 5px;
}
.cost-btn{
    text-decoration: none;
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px 25px;
}
