/*SECTION 2 START*/
.why-us{
    position: absolute;
    bottom: 131px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #000;
    border-radius: 25px;
    width: 1220px;
    box-sizing: border-box;
    background-color: #000;
    box-shadow: 0 0 48px rgba(184,0,0,0.8);
    padding: 34px 100px 36px;
}
.why-us-title{
    font-family: "Gotham Pro", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #fff;
    margin-bottom: 46px;
}
.our-preference{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.our-preference-item{
    text-align: center;
}
.our-preference-img-container{
    margin-bottom: 36px;
}
.our-preference-text{
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    max-width: 120px;
    margin: 0 auto;
}
/*SECTION 2 END*/
