/*SECTION 1 START*/
.tuning {
    background: url("../img/tuning-bg.png") no-repeat left top, #000;
    background-size: 50% 100%;
    padding-top: 121px;
    padding-bottom: 653px;
    position: relative;
}
.tuning-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.tuning-column{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
.tuning-column-title {
    font-family: "Gotham Pro", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    color: #fff;
    margin-bottom: 94px;
}

.tuning-column-subtitle{
    font-size: 36px;
    font-weight: 500;
    font-family: "Gotham Pro", sans-serif;
    color: #fff;
    line-height: 34px;
    margin-bottom: 113px;
    position: relative;
}
.tuning-column-subtitle.right{
    margin-bottom: 83px;
}
.tuning-column-subtitle::after{
    content: "";
    height: 3px;
    background-color: #B80000;
    left:50%;
    bottom: -14px;
    transform: translateX(-50%);
    position: absolute;
}

.tuning-column-subtitle.left::after {
    width: 248px;
}
.tuning-column-subtitle.right::after {
    width: 152px;
}
.tuning-column-text{
    font-size: 17px;
    color: #fff;
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
}

.tuning-slider{
    display: flex;
    align-items: center;
}
.tuning-slider-arrow{
    cursor: pointer;
}

.tuning-column-slider-img{
    margin-top: -28px;
}
.tuning-slider-item{
    background: #2E2E2E;
    width: 372px;
    height: 299px;
    margin: 0 34px;
    padding: 87px 36px 0;
    box-sizing: border-box;
    position: relative;
}
.tuning-slider-icon{
    position: absolute;
    top: -29px;
    left: 50%;
    transform: translateX(-50%);
}
.tuning-slider-title{
    font-family: "Gotham Pro", sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 31px;
}
.tuning-slider-text{
    font-size: 17px;
    font-weight: 300;
    line-height: 23px;
    font-family: "Gotham Pro", sans-serif;
    text-align: center;
    color: #fff;
}
/*SECTION 1 END*/
