/*SECTION 3 START*/
.questions {
    background: url("../img/questions.png") no-repeat left top, #000;
    background-size: 50% 100%;
    padding-top: 121px;
    padding-bottom: 110px;
}

.questions-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.questions-title {
    font-family: "Gotham Pro", sans-serif;
    font-size: 51px;
    width: 479px;
    line-height: 61px;
    text-align: center;
    margin: 0 auto;
    background-image: linear-gradient(to left, red, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    padding-bottom: 110px;
}

.questions-item {
    margin-bottom: 139px;
}
.questions-item-title{
    font-family: "Gotham Pro", sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 20px;
    color: #fff;
    margin-bottom: 82px;
    position: relative;
    display: inline-block;
}
.questions-item-title::after{
    content: "";
    height: 5px;
    bottom: -13px;
    background-color: #fff;
    position: absolute;
    width: 98%;
    left: 0;
}
.questions-item-text{
    font-family: "Gotham Pro", sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
}

/*SECTION 3 END*/
