.map {
    position: relative;
    padding: 70px 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 100%);
}

.map-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../img/map.png") center/cover no-repeat;
    z-index: -1;
}
.map-mark{
    margin-right: 25px;
}

.map-title {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    margin-bottom: 28px;
}

.map-text {
    font-family: "Gotham Pro", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    color: #fff;
}
