@import "reset.css";
@import "fonts.css";
@import "navbar.css";
@import "header.css";
@import "section-1.css";
@import "section-2.css";
@import "section-3.css";
@import "section 4.css";
@import "section-5.css";
@import "section-6.css";
@import "section-7.css";
@import "footer.css";

.container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}




